/* Styles des divisions principales de la page */
body{
  background-color: rgb(101, 149, 198);
	background-image: url(imgs/FONDGLOBAL.jpg);
	background-repeat: repeat-x;
  margin: auto;
  margin-top: -19px;
  padding : 0.0em;
  font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 1.0em;
} 
#page {
  background-color:white;
  width : 100%;
  margin : auto;
  border : none;
  padding : 0em;
}

#entete{
  background-image: url('https://static.vecteezy.com/ti/vecteur-libre/p2/1386023-fond-medical-bleu-avec-icones-et-symboles-plats-vectoriel.jpg');
  background-repeat: repeat;
  background-size: 90%;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
	border-bottom: outset 0.5em dodgerblue;
	height: 25%;
	padding: 0em;
	border-collapse: separate;
  width: 100%;
}
#pied{
  background-color: transparent;
  color: white;
	border-top : inset 0.7em dodgerblue;
	margin-left : none;
	margin-top : 0px;
	padding: 1.5em;
  padding-left: 20%;
	border-collapse: separate;
  position: absolute;
  width: 78.2%;
}

#pied a
{
  text-decoration: underline;
  color: white;
}

#menuGauche {
	margin-top : 0em;
	padding: 1em;
	background-color: white;
	color: rgb(45, 137, 190);
	float: left;
	width: 15%;
}

#contenu{
  background-color: lightsteelblue;
	border: none;
	padding: 1.3em;
	background-color: white;
	border-left :  groove 0.8em dodgerblue;
  margin-top : -20px;
	margin-left: 18%;
/* permet de fixer une hauteur mini sur les navigateurs modernes */
  min-height:27em;
/* pour obtenir le m�me effet sur IE, sachant que si le contenu d�passe, il
"poussera" la hauteur en ne respectant pas la norme. On se joue de ses lacunes
*/
  height:27em;
}

/* pour r�tablir le mauvais effet sur les nav. modernes */
html>body #contenu{
  height:auto;
  background-color: lightsteelblue;
  color: white;
  justify-content: center;
  text-align: center;
}

/* style � appliquer � la balise ul d'identifiant menulist */
ul#menuList{
    list-style:none;
    margin:0px;
    padding:3px;
    width:100%;
    font-size: 1em;
}

/* style � appliquer aux �l�ments de la balise ul d'identifiant menulist */

ul#menuList li {
  font-weight: bolder;
  position:relative;
  color: rgb(33, 80, 145);
  margin:0px;
  padding:3px;
}

ul.submenu a
{
  font-weight: normal;
  margin-left: -35px !important;
  padding-left: 13px !important;
  border-left: 2px solid rgb(33, 80, 145);
}

ul.active a
{
  font-weight: normal;
  background: lightsteelblue !important;
  color: rgb(33, 80, 145) !important;
}

/* apparences des liens dans listes et sous-listes non num�rot�es */
ul#menuList a {
    color:rgb(45, 137, 190);
    padding: 3px;
    display:block;
    text-decoration:none;
    width:100%;
}
ul#menuList a:hover {
    font-weight: bolder;
    background: rgb(45, 137, 190);
    color: white;
}

#entete #logoGSB {
  float : left;
  width : 37%;
  height : 100%;
}

#entete h1 {
  margin : auto;
  padding-top: 5%;
  text-align: center;
  vertical-align: middle;
  font-variant: small-caps;
  width: 63%;
  text-shadow: 0px 0px 5px white;
	color : rgb(33, 80, 145);;
}

#contenu pre {
  width:95%;
  overflow : scroll;
}
#contenu h2 {
  font-size : large;
  text-align:left;
  margin:0;
  margin-bottom:0.5em;
}

.logoValidW3c {
  display: inline;
}
#libValidW3c{
  display : inline;
  vertical-align:middle;
}

/* Style des formulaires */
.corpsForm {
  border : solid 0.1em #000;
  border-bottom-width:1px;
  margin-bottom : 0em;
  width : 95%;
}

.piedForm {
  border-bottom-width : 0.1em;
  border-left-width : 0.1em;
  border-right-width : 0.1em;
  border-top-width : 0em;
  border-style : solid;
  border-color : #000;
  text-align:right ;
  width : 95%;
  margin-top:0em;
}
form {
  margin-bottom:1em;  
}
.corpsForm legend {
  font-weight:bold;
  font-size:1.2em;
}
.corpsForm label{
  float: left;
  text-align:right;
  width:33%;
	margin: 0;
	padding: 0 .5em 0 0;
	line-height: 1.8;	
}
input, button, textarea, select{
  font-family:"Trebuchet MS", sans-serif;
  font-size : 1em;
}
button{
  width : 60px;
  height : 30px;
  text-align:center;
  vertical-align:middle;
}
input:hover, textarea:hover, select:hover, button:hover{
  background-color : #FAFAE6;
  cursor : pointer;
}

/*  Le texte des messages d'erreur est de couleur rose sur fond ocre et de 
taille de caract�res l�g�rement sup�rieure � la normale */
.erreur{ 
   background-color:rgb(237,210,229);
   color:rgb(203,28,128);
   font-size:1.1em;
   width:95%;
}
.centre {
  text-align:center;
}

.info {
   background-color:rgb(178,207,81);
   color : white;
   font-size:1.1em;
   width : 95%  
}

.encadre {
  border : solid 0.1em #000;
  width : 95%;
}
/* Style pour les liens de la page principale */
#contenu .corpsTexte {
  width:80%;
  font-size:1.2em;
}

/* Style pour les liens de la page principale */
#contenu a {
   font-size : 1.1em;
   color:gray;
   text-decoration:none;
}
#contenu a:hover {
   text-decoration:underline;
   background-color : #D9BB7A;
   font-size : 1em;
}

/* Style pour les parties importantes de la page principale */
#contenu strong {
  font-weight:bold;
}

/* Styles pour les tableaux de la page principale */
#contenu table {
  width: 100%;
  background-color: transparent;
  color: white;
  font-weight: bold;
   border : none;
   margin-right : auto ;
   margin-left:0.3em;
   border-collapse : separate;
   border-spacing: 5px;
}
/* Style pour les cases des tableaux */
#contenu table tr, #contenu table td {
  border: none;
}

/* Style pour les lignes d'en-t�te des tableaux */
#contenu th {  
   background-color:#77AADD;
   height:21px;
   text-align:left;
   vertical-align:top;
   font-weight:bold;
   border-bottom:0.1em solid #777777;
   font-size:1.1em;
} 

#contenu td {
   border :1px solid #777777;
}

#contenu h3 {
    font-size : 1.2em;
}
table.listeLegere {
/*    width:80%;*/
    margin-bottom : 0.5em;
}

/* Tableaux quadrill�s utilis�s pour l'affichage de listes avec contenu l�ger*/ 
table.listeLegere th, table.listeLegere td {
  border : dotted rgb(178,207,81) 0.1em;
  padding:0.5em;
  vertical-align : top;
  text-align : left;
}

table.listeLegere caption {
  font-size : 1.1em;
  text-align : left;
  margin-bottom : 0.3em;
}
table.listeLegere td {
  vertical-align:top;
  font-weight:normal;
}
table.listeLegere th.eltForfait{
  color:black;
}
table.listeLegere th.date, table.listeLegere th.montant{
  width:15%;
  color:black;
}
table.listeLegere th.libelle{
  width:70%;
  color:black;
}

#contenu h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #1D2941;
	text-decoration: none;
	border : 1px solid #6988BE;
	padding-left: 25px;
	background-color: #E9F1FE;
  height : 28px;
}

#contenu img {
  height : 28px;
  float : left;

}

.consultation input, .consultation textarea
{
  background-color: white;
}

td:nth-child(0n+1)
{
  margin: auto;
  width: 25%;
  border-radius: 5px;
  border: 8px solid white;
}

#statistiques td:nth-child(0n+1)
{
  margin: auto;
  width: 50%;
}

.btn-cons-med, .btn-cons-med text
{
  background-color: white;
  color: black !important;
  font-weight: bolder;
  text-align: center;
  width: auto;
  height: auto;
}

.nav-cons-med
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 25%;
}


/* CSS POUR LES STATISTIQUES */
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset: calc(50% - var(--b)/2);
  background: var(--c);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation: p 1s .5s both;
}
.no-round:before {
  background-size: 0 0, auto;
}
.no-round:after {
  content: none;
}
@keyframes p{
  from{--p:0}
}
/*                         */

